: grey {
    rgba = [ .1 .1 .1 1 ];
}

// OUTSIDE WALLS

sim_object# : grey {
    pos  = [ 0 0 0 ];
    rpy  = [ 0 0 0 ];
    dims = [ 30 30 0.01 ];
    rgba = [ .1 .1 .1 1 ];
    shine = 0.01;
}

sim_object# : grey {
    pos  = [ 15 0 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 0.01 30 3 ];
}

sim_object# : grey {
    pos  = [ -15 0 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 0.01 30 3 ];
}

sim_object# : grey{
    pos  = [ 0 -15 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 30 0.01 3 ];
}

sim_object# : grey {
    pos  = [ 0 15 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 30 0.01 3 ];
}

// NW
sim_object# : grey {
    pos  = [ -7.5 7.5 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 3 3 3 ];
}

// NE
sim_object# : grey {
    pos  = [ 7.5 7.5 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 4 4 3 ];
}

// SW
sim_object# : grey {
    pos  = [ -7.5 -7.5 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 2 2 3 ];
}

// SE
sim_object# : grey {
    pos  = [ 7.5 -7.5 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 1 1 3 ];
}

// CROSS
sim_object# : grey {
    pos  = [ 0 0 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 0.01 3 3 ];
}

sim_object# : grey {
    pos  = [ 0 0 1.5 ];
    rpy  = [ 0 0 0 ];
    dims = [ 3 0.01 3 ];
}

robot# {
    id = 3;
    pos  = [ -8 0 .1 ];
    rpy  = [ 0 0 0 ];
    dims = [ 1 1 1 ];
    hokuyo.pos = [ 0.5 0 0.5];
}

robot# {
    id = 4;
    pos  = [ 8 0 .1 ];
    rpy  = [ 0 0 0 ];
    dims = [ 1 1 1 ];
    hokuyo.pos = [ 0.5 0 0.5];
}
